/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home1.jpg) no-repeat;
  background-size: cover;
}

.women-in-ai img {
	
	width: 30%;
	display: inline-block;
	margin-right: 10px;
	float: left;	
		margin-bottom: 20px;

}
p {
	clear: both;
	margin-bottom: 20px;
	footer & {
		clear: none;
	}
}
.women-in-ai p:nth-child(4) img {
		width: 80%;
		display: block;
		margin: 0 auto;
		float: none;

}

.women-in-ai h2 {
	clear: both;
	display: block;
	margin-bottom: 25px;
}
.confusion-matrix {
	width: 300px;
	display: block;
}

.td--half {
	width: 40%;
}
.gif-playing {
	width: 60%;
}

.flex {
	display: flex;
	div {
		width: 33%;
		padding: 20px;
	}
}
.slide.title.why-care {
	background-image: url('../img/workshop/hidden-figures-gif.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}

img.medium-image {
	width: 40%;
}

section.slide.title.ai-history {
	background-image: url('../img/workshop/spongebob.gif');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	h1 {
		color: white
	}
}

section.slide.title.data-everything {
	background-image: url('../img/workshop/jlaw-everything.gif');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center center;
}
section.slide.title.didit {
	background-image: url('../img/workshop/serena-queen.gif');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
	h1 {
		color: white;
	}
}

.flow-hexagon {
	width: 100px;
}
